.button {
  width: 100%;
  padding: 1rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  background-color: var(--blue-900);
  color: var(--gray-100);

  border-radius: 0.5rem;
  border: 0;

  font-size: var(--font-md);
  font-weight: 700;
  
  transition: background-color 0.2s;
}

.button:hover {
  background-color: var(--blue-500);
}

.button:focus {
  border: 1px solid var(--purple-900);
  outline: 2px solid var(--purple-900);
}