.container {
  width: 100%;
  max-width: 736px;
  margin: 0 auto;
}

.searchContainer {
  display: grid;
  grid-template-columns: 1fr 90px;
  gap: 1rem;
  justify-content: center;

  position: relative;
  top: -27px;
}

.headingInfoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1.5rem;
}

.headingInfoText {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.blue {
  color: var(--blue-500);
}

.purple {
  color: var(--purple-500);
}

@media (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}