.searchContainer {
  width: 100%;
  max-width: 736px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 90px;
  gap: 1rem;
  justify-content: center;

  position: relative;
  top: -27px;
}