.checkboxRoot {
  background: transparent;
  border: 2px solid var(--blue-500);
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  min-height: 1.5rem;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxRoot svg polyline {
  stroke-width: 40;
}

.checkboxRoot:hover {
  background: var(--blue-900);
  border: 2px solid var(--blue-500);
  opacity: 0.4;
}

.checkboxRoot:focus {
  box-shadow: 0 0 0 2px black;
}

.checkboxRoot[aria-checked='true'] {
  background: var(--purple-900);
  border:2px solid var(--purple-900);
}

.checkboxRoot[aria-checked='true']:hover {
  background: var(--purple-500);
  opacity: 1;
}
